NEXT_PUBLIC_BLOG_URL=https://portfolio-indradev.vercel.app/
NEXT_PUBLIC_PORTFOLIO_URL=https://portfolio-indradev.vercel.app/
NEXT_PUBLIC_CONTACT_EMAIL=mahadiindra2@gmail.com
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/mahadindra/
